.rose-tabs
  display: flex
  align-items: center
  padding: 4px
  height: 28px
  border-radius: 14px
  background: #E4E4E4

  &.rose-large
    height: 30px
    border-radius: 15px
    padding: 3px

    > .rose-tab
        height: 24px
        line-height: 24px
        border-radius: 12px

  > .rose-tab
    display: inline-block
    flex: 1
    height: 20px
    line-height: 20px
    padding: 0
    background: transparent
    border-radius: 10px
    font-size: 12px
    border: none
    color: #3D3D3D

    &.rose-selected
      background: #FFFFFF
