@import "../../styles/variables.styl"

.material-options-container
    padding: 12px 14px 0

    .material-options
        background: #FFFFFF
        border-radius: 15px
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3)

        .preset-options
            display: flex
            align-items: center
            padding: 4px 12px 4px 4px

            .options-btn-list
                flex: 1
                margin-right: 12px
                display: flex

                .options-btn
                    flex: 1
                    text-align: center

        .custom-options
            padding: 0
            padding: 8px 4px

            .options-btn
                display: block
                text-align: start
                    
.material-parameter-container
    margin-top: 16px
    padding: 0 14px 8px

    .material-parameter
        background: #FFFFFF
        border-radius: 15px
        padding: 8px 16px

.material-btn
    display: inline-block
    padding: 0 16px
    height: 24px
    line-height: 24px
    border-radius: 12px
    text-decoration: none
    cursor: default

    &.selected
        background: $brand-primary
        color: #FFFFFF

.btn-expand
    width: 24px
    height: 24px

.parameter-table
    .checkbox
        height: 26px
        margin-left: 76px
