@import "../../styles/variables.styl"

.configuration-options-container
    padding: 12px 14px

    .configuration-options
        background: #FFFFFF
        border-radius: 15px
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3)

        .preset-options
            display: flex
            align-items: center
            padding: 4px 12px 4px 4px

            .options-btn-list
                flex: 1
                display: flex

                .options-btn
                    flex: 1
                    text-align: center
                    display: inline-block
                    height: 24px
                    line-height: 24px
                    border-radius: 12px
                    text-decoration: none
                    border: none
                    background: #FFFFFF

                    &.selected
                        background: $brand-primary
                        color: #FFFFFF


        .custom-options
            padding: 0
            padding: 8px 4px

            .options-btn
                display: block
                text-align: start

table.config-details-table
    color: $desc-text-color
    margin-left: 10px
    font-size: 12px

    td
        height: 28px
        line-height: 13px

    tbody
        &> tr
            &> td:first-child
                width: 180px

.config-container
    background: #FFFFFF
    border-radius: 15px
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 0 0 16px 0
    margin-top: 10px

    .config-header
        display: flex
        justify-content: space-between
        align-items: center
        padding: 10px 16px 8px
        border-bottom: 1px solid #D7D7D7
        font-size: 12px

    .config-list

        .config-item
            padding: 0 20px
            margin-top: 10px

            &:first-child
                margin-top: 8px

            .config-item-header
                display: flex
                justify-content: space-between
                align-items: center

    .config-footer
        margin-top: 14px
        display: flex
        justify-content: center
        align-items: center

        button
            background: $brand-primary
            width: 150px
            height: 28px
            line-height: 28px
            border-radius: 14px
            font-size: 12px
            color: #FFFFFF
            outline: none
            border: none

.custom-container
    background: #FFFFFF
    border-radius: 15px
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 16px 14px
    margin-top: 10px

    .custom-setting-group
        border: 1px solid #ccc
        margin-top: 12px
        border-radius: 8px

        &:first-child
            margin-top: 0

        .custom-setting-group-header
            padding: 0 16px
            display: flex
            justify-content: space-between
            align-items: center
            font-size: 12px

        .divider
            height: 1px
            margin: 0 10px
            background: #D7D7D7

        .custom-setting-item
            display: flex
            justify-content: space-between
            align-items: center
            padding: 0 10px
            font-size: 12px

    .custom-footer
        margin-top: 14px
        display: flex
        justify-content: center
        align-items: center

        button
            background: $brand-primary
            width: 150px
            height: 28px
            line-height: 28px
            border-radius: 14px
            font-size: 12px
            color: #FFFFFF
            outline: none
            border: none
